<main>
	<div class="cd-fixed-bg cd-bg-1">
    <h1>Graf</h1>
    <h3>Make your stories awesome.</h3>
    <i class="fa fa-newspaper-o"></i>
	</div>

	<div class="cd-scrolling-bg cd-color-2">
		<div class="cd-container">
			<p>
			</p>
		</div>
	</div>
</main>
