<main>
	<div class="cd-fixed-bg cd-bg-1">
    <a href="https://github.com/CaseyKelly/graf"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
    <h1>Graf</h1>
    <i class="fa fa-newspaper-o"></i>
    <div class="subhead">
      <center>
        <h3>Turn your text into a template. Make your stories awesome.</h3>
      </center>
    </div>
	</div>

	<div class="cd-scrolling-bg cd-color-2">
		<div class="cd-container">
			<div class="row">
				<div class="col-md-6">
					<div class="container-two">
						<center>
							<h3>Paste text from a story or blog post and automatically generate the content in a beautiful layout.</h3>
						</center>
					</div>
				</div>
				<div class="col-md-6" id="screenshot-md-6">
					<span class="centerer"></span>
					<%= image_tag 'screenshot.png', id: 'screenshot' %>
				</div>
			</div>
		</div>
	</div>

  <div class="cd-scrolling-bg cd-color-3">
		<div class="cd-container">
			<center>
				<h3>
					Paste your headline, subhead, byline and text.<br> Upload your photos.<br> Share the post to social media.
				</h3>
				<p>
					<button>Check It Out</button>
				</p>
			</center>
		</div>
	</div>

  <div class="cd-scrolling-bg cd-color-4">
    <div class="cd-container">
      <p>
        <a href="https://github.com/CaseyKelly"><i class="fa fa-github-square"></i></a>
        <a href="https://twitter.com/caseyk819"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/caseyjkelly"><i class="fa fa-linkedin-square"></i></a>
        <a href="mailto:casey.kelly@colorado.edu"><i class="fa fa-pencil-square"></i></a>
      </p>
      <p>
        <h5>Created by Casey Kelly</h5>
      </p>
    </div>
  </div>
</main>
