@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

body, html, main {
  height: 100%;
}

h1 {
  font-size: 3em;
  font-family: 'Libre Baskerville', serif;
  }

h5 {
  padding-top: 1%;
  padding-bottom: 1%;
  color: #008CBA;
}

#text {
  border-top: 1px solid #B0B0B0;
}

.col-md-4 {
  margin-top: 5%;
  padding-left: 5%;
}

.fa {
  font-size: 4em;
}

.main-photo {
  max-height: 60%;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px #909090;
}
